#admin-tabs{
    height: 100%;
    .tab-container{
        height: 100%;
    }
    .mat-tab-group.mat-tab-group-inverted-header{
        height: 100%;
    }
    .mat-tab-body-wrapper{
        height: 100%;
    }
}
