<h1 mat-dialog-title>New Product</h1>
<div mat-dialog-content>
  
  <mat-form-field class="full-width">
    <input matInput [(ngModel)]="product.name" placeholder="Product Name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select [(ngModel)]="product.category">
      <mat-option *ngFor="let category of categoriesList" [value]="category._id">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      [(ngModel)]="product.description"
      placeholder="Product Description">
    </textarea>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="number" matInput [(ngModel)]="product.price" placeholder="Product Price">
  </mat-form-field>
  
</div>

<div mat-dialog-actions>
  <button color="warn" mat-dialog-close mat-raised-button>
    <i class="material-icons">cancel</i> Cancel
  </button>
  <button color="primary" [mat-dialog-close]="product" mat-raised-button>
    <i class="material-icons">save</i> Save
  </button>
</div>
