<div class="create-form">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="createProductData.name" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Category" [(ngModel)]="createProductData.category" />
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Description" [(ngModel)]="createProductData.description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="price" [(ngModel)]="createProductData.price" />
  </mat-form-field>
  <button (click)="createProduct()" color="primary" mat-raised-button>Create Product</button>
</div> 