#main-menu{
    margin-top: 67px;
    min-width: 200px;
}
#main-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#main-content{
    margin-top: 63px;
    padding: 10px;
}

.mat-card-header-text{
    flex-grow: 1;
}