/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.snack-bar-error{
    background-color: red;
    color: white;
}
.spacer{
    flex: 1 1 auto;
}

#admin-tabs .mat-tab-body-wrapper{
    height: 100%;
}

.full-width{
    width: 100%;
}